:root{
  --shadowColor:  rgba(116, 116, 116, 0.657);
  --inputBackground:  rgba(110, 110, 110, 0.445);
  --selectBackground:  rgba(184, 184, 184, 0.445);
  --selectDarkBackground:  rgba(116, 116, 116, 0.445);
  --optionBackground:  rgb(73, 73, 73);
  --textInputColor: rgb(216, 216, 216);
  --textbuttonColorFocus: rgba(88, 88, 88, 0.644);
}

.input__container{
  min-width: 100%;
  text-align: center;
}

.input__container input {
  width: 50%;
  outline: none ;
  padding: 0 18px;
  height: 30px;
  color: var(--textInputColor);
  border: none;
  border-radius: 14px;
  background-color: var(--inputBackground);
}

.input__container input::placeholder{
  color: var(--textInputColor);
}

.input__button{
  border: none;
  background-color: var(--selectBackground);
  height: 30px;
  width: 30px;
  margin-left: 8px;
  color: var(--textInputColor);
  border-radius: 50%;
  transition-duration: 0.5s;
  cursor: pointer;
  outline: none;
}

.input__button:hover{
  transform: scale(1.1);
  border-radius: 8px;
}

.input__button:focus{
  color: var(--textbuttonColorFocus);
  background-color: var(--textInputColor);
}

.pen{
  cursor: pointer;
  margin-right: 8px;
  color: var(--textInputColor);
  transition-duration: 0.5s;
}

.pen:hover{
  transform: scale(1.1);
}

.delete__input-button{
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
  transition-duration: 0.5s;
  outline: none;
}

select {
  cursor: pointer;
  margin-top: 24px;
  background-color: var(--selectDarkBackground);
  color: var(--textInputColor);
  border: 1px solid var(--textInputColor);
  font-size: 14px;
  height: 30px;
  padding: 5px;
  width: 50%;
  transition-duration: 0.5s;
  border-radius: 14px;
  padding: 0 14px;
}

option{
  background-color: var(--optionBackground);
}

select:hover{
  box-shadow: 2px 1px 26px 1px var(--shadowColor);
}

select:focus{ 
  width: 50%;
  outline: none;
}

@media screen and (max-width: 500px){
  select{
    width: 60%;
  }
  select:focus{ 
    width: 80%;
    outline: none;
  }
}